.container{
    max-width: 600px;
    margin: 0 auto;
}
.mainTitle{
    text-align: center;
}
.lowTitle{
    text-align: center;
}
.massa{
    background-color: #5e5e5e;
    padding: 14px;
    border-radius: 15px;
}
.SearchTitle{
    text-align: center;
    color: white;
}
.SearchBtn{
    padding: 10px 50px;
    font-weight: 700px;
    margin-left: 200px;
    border-radius: 15px;
}
.header__ul{
    list-style: none;
    font-weight: 700;
    display: flex;
    max-width: 500px;
    margin-left: 670px;
    flex-wrap: wrap;
}  
.header__li{
    margin-left: 10px;
    font-size: 25px;
}
.header__li1{
    margin-left: 200px;
    font-size: 25px;
}
.index__title{
    text-align: center;
}
.CI__title{
    text-align: center;
}
.low__title{
    text-align: center;
    color: white;
}
.inputCI{
    padding: 10px;
}
.Inputs{
    margin-left: 190px;
    margin-top: 10px;
}
.Submit{
    padding: 20px 60px;
    margin-top: 10px;
    border-radius: 15px;
    margin-left: 190px;
}
.index__p{
    font-size: 20px;
    text-align: center;
}
table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
@media (max-width: 720px) {
    .SearchBtn{
        margin-left: 100px;
    }
    .header__ul{
        margin-left: -30px;
    }
    .header__li{
        font-size: 16px;
    }
  }