.container{
    max-width: 600px;
    margin: 0 auto;
}
.mainTitle{
    text-align: center;
}
.lowTitle{
    text-align: center;
}
.Formulas{
    background-color: gray;
    padding: 20px;
}
.SearchTitle{
    text-align: center;
    color: white;
}
.Inputs{
    margin-left: 80px;
}
.InputFirst{
    padding: 10px;
}
.InputSecond{
    padding: 10px;
}
.Submit{
    padding: 13px;
    margin-top: 10px;
    margin-left: 220px;
}
.MenuBtn{
    padding: 10px 20px;
    margin-left: 890px;
    margin-bottom: 10px;
}

@media (max-width: 480px) {
    .Submit{
        margin-left: 120px;
    }
    .MenuBtn{
        margin-left: 150px;
    }
  }