.container{
    max-width: 600px;
    margin: 0 auto;
}
.mainTitle{
    text-align: center;
}
.lowTitle{
    text-align: center;
}
.Formulas{
    background-color: gray;
    padding: 20px;
    border-radius: 20px;
}
.SearchTitle{
    text-align: center;
    color: white;
}
.Inputs{
    margin-left: 80px;
}
.InputFirst{
    padding: 10px;
}
.InputSecond{
    padding: 10px;
}
.Submit{
    padding: 16px;
    margin-top: 10px;
    margin-left: 220px;
    border-radius: 15px;
}
.MenuBtn{
    padding: 10px 20px;
    margin-left: 890px;
    margin-bottom: 10px;
}
.exemple__title{
    text-align: center;
}
table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px 60px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}

@media (max-width: 720px) {
    .Submit{
        margin-left: 120px;
    }
    .MenuBtn{
        margin-left: 150px;
    }
  }